*{
  margin: 0;
  padding: 0;
}
p{
  display: inline-block;
  background-color: pink;
  color: blue;
  font-weight: bold;
  font-family: arial;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: tomato;
  box-shadow: 4px 5px 3px rgb(0, 0, 0);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: animate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes animate {
  0%{
    height: 300px;
    width: 300px;
    background-color: tomato;
    color: white;
    border-radius:50% ;
  }
  10%{
    background-color: rgb(14, 191, 240);
  }
  20%{
    background-color: rgb(240, 14, 236);
  }
  30%{
    background-color: rgb(14, 206, 240);
  }
  100%{
    height: 300px;
    width: 300px;
    background-color: rgb(14, 240, 14);
    color: rgb(255, 0, 0);
  }
  
}
